*//{font-family: cursive,sans-serif}
thtml{ background: #333;}
header{padding: 20px;}
header img{float: left; width: 20%;}
header h2{float: right; margin-top:50px; }
.clear{width: 100%; height: 0%;clear: both;}
.content{border-radius:10px; border: 2px solid #ddd; padding: 20px; min-height:400px; overflow:auto; margin-bottom: 50px;}

aside{float: left;width: 22%;min-height: 200px;margin-right: 30px;}
aside a{ display: block; margin:6px; font-family:verdana;font-size: 20px;  }
aside a:hover{text-decoration: none;}
.btn-danger{border-radius: 5px; padding: 7px 15px;}
.btn-default:hover{text-decoration: none;}

footer{text-align: center; border-top:2px dashed #ddd; margin-top: 50px;}
footer p{font-family:verdana; font-size: 16px;}

.register{width:50%;float: left;min-height: 470px; margin-left: 30px;}

.main_settings{width: 400px;float: left;margin-right: 25px;}
.main_settings label{width: 150px; float: left;}
.main_settings input,.main_settings select{ width: 250px; height: 30px; padding: 3px 5px; border: 1px solid #999; border-radius: 5px; display: block; margin-bottom: 10px;}
.main_settings textarea{width: 250px;   border: 1px solid #999; border-radius: 5px; margin: 10px 0;}
.main_settings input[type='submit']{ height: 40px; text-align: center; margin: 20px 150px;}

.add h1{ font-family: cursive; font-size: 16px; border-bottom: 1px dashed #999; margin-bottom:15px; }

th{background:#e3e3e3}
.newpage input[type="file"]{ border: 0px;}
.newpage textArea{width: 550px;}

.image{float: right; width:740px;}
.image img{width:120px; height: 130px; margin: 10px;  margin-top: 0px;}
.imgs{width:758px;}
.image p{float: left; width: 160px; height: 230px; border: 1px solid #ddd; border-radius: 10px; margin: 10px;}
.imags input[type="submit"]{margin-right: 500px; float: left;}

.main_settings ul{
    clear: both;
    list-style: none;
    width: 750px;

    margin-left: -30px;

    margin-bottom: 68px;
}
.main_settings ul li{
    float: left;
    margin-right: 13px;
    margin-bottom: 5px;
}

////////////////////////////////// library page style //////////////////////////
.fold {
    border: 1px solid;
}
.fold img{
    width: 95px;
    height: 90px;
}
.fold h5{
    font-size: 13px;
    font-style: oblique;
    font-weight: 700;
    color: darkgoldenrod;
}
/*.folder li{
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.folder a{
    text-decoration: none;
    color: #ddd;
}*/
#labtop{
    display: none;
    margin-top: 20px;
}
.image .btn-danger{
    width: 80px;
    height: 39px;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 30px;
}

.sure_box h3{
    background: beige;
    text-align: center;
    padding: 10px;
}


/*---------rergister css----*/
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Oxygen', sans-serif;
}

.main{
    margin-top: 70px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

.chat_room {
    border: 2px solid #E4DEDE;
    margin-top: 20px;
    margin: 0 auto;
    width: 1200px;
    margin-top: 100px;
    border-radius: 11px;
    padding:27px;
    
}
.sort{
    padding: 10px;
    float: right;
    font-size: 16px;
}
.sort a{margin-right: 15px;}


//////////////////////////////////////////// search add images for products/////////////////////////////////

#result_add_imgs{
    width: 247px;
    position: absolute;
    top: 177px;
    left: 550px;
    z-index: 999999;
    background: #222222;
    border-radius: 5px;
}
#result_add_imgs a{
    color: #ddd;
}
#result_add_imgs ul{
    margin-left: -17px;
    margin-top: 5px;
}

#more{
    width: 243px;
    margin-bottom: 4px;
    height: 27px;
    background: rgb(249, 249, 249);
    border-left: 3px solid #900;
    margin-left: 2px;
    border-radius: 5px;
}
#more:hover{
    background:#ddd;
}
#more a{
    text-decoration: none;
    color: #900;
    font-size: 14px;
    margin-left: 12px;
    position: relative;
    top: 3px;
    font-style: oblique;
}

#result_more{
    background: rgba(240,240,240,.93);
    margin-top: 50px;
    overflow-y: scroll;
    height: 310px;
    position: absolute;
    z-index: 999;
    top: 128px;
    left: 548px;
    width: 251px;
    overflow-wrap: break-word;
}
#result_more li{    
    font-size: 14px;
    float: none;
    padding-top: 0px;
}
#result_more a{
    display: block;
    padding-left: 0px;
    color: #333;
}
#result_more a:hover{
    color: #C12E2A;
}

//////////////////////////////////////////// end search add images for products/////////////////////////////////